header{
    padding: 0 5%;
    background: linear-gradient(180deg, rgba(235,120,63,1) 0%, rgba(184,0,255,1) 71%, rgba(244,244,244,0) 100%);
    height: 240px;
    display: flex;
    justify-content: center;
    h1, h2{
        color: white;
        margin: 0;
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 80px;
    }
    h2{
        transform: rotate(45deg);
        font-size: 35px;
    }
}