@import 'header';
@import 'mainPart';
@import 'footer';

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#root, .App{
    width: 100%;
}
a{
    text-decoration: none;
}
@import 'media';